* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #e6e6e6;
    letter-spacing : 0.2em;
}

.header {
    padding: 30px 4% 10px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
}

a {	
    text-decoration: none;
    color: #fff;
}

nav {
    margin: 0 0 0 auto;
}

ul {
    list-style: none;
    margin: 0;
    display: flex;
}

li {
    margin: 0 0 0 15px;
    font-size: 14px;
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('images/main_visual.jpeg') top center / cover no-repeat;
}

h2 {
    margin: 0;
    font-size: 30px;
    font-weight: normal;
    color: #fff;
}

.works-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contact-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.introduce-wrapper {
    background-color: rgba(255,255,255, 0.5);
    display: flex;
    justify-content: center;
    width: 60%;
}

.homeimage {
    height: 400px;
    width: auto;
    border-radius: 10px;
    padding: 10px;
}

.introduce-content {
    margin: auto;
    width: 40%;
}

.contact-name {
    color: #6868ab;
}

.skill {
    height: 100vh;
    position: relative;
}

.skill-wrapper {
    background-color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 50px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    height: 50%;
    width: 60%;
}

.skill-box {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
}

.skill-box li {
    margin: 0;
    height: auto;
    font-size: 15px;
    padding: 10px 20px;
}

.button {
    margin: auto;
    background-color: #fff;
    padding: 20px 40px;
    border-radius: 50px;
}

.button:hover {
    background-color: blue;
    color: white;
}

#overlay {
    /*　画面全体を覆う設定　*/
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:rgba(0,0,0,0.5);

  /*　画面の中央に要素を表示させる設定　*/
  display: flex;
  align-items: center;
  justify-content: center;
}

#content{
    z-index:2;
    width:50%;
    padding: 20px;
    background:#fff;
    border-radius: 5px;
    text-align: center;
}

#content a {
    color: black;
}

.work {
    height: 300px;
    width: 300px;
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
    text-align: center;
    cursor: pointer;
}

.workimage {
    width: 90%;
    margin: 10px;
}
