* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #e6e6e6;
    letter-spacing : 0.2em;
}

.header {
    padding: 30px 4% 10px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
}

a {	
    text-decoration: none;
    color: #fff;
}

nav {
    margin: 0 0 0 auto;
}

ul {
    list-style: none;
    margin: 0;
    display: flex;
}

li {
    margin: 0 0 0 15px;
    font-size: 14px;
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('images/main_visual.jpeg') top center / cover no-repeat;
}

h2 {
    margin: 0;
    font-size: 30px;
    font-weight: normal;
    color: #fff;
}

.works-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contact-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.introduce-wrapper {
    background-color: rgba(255,255,255, 0.5);
    display: flex;
    justify-content: center;
    width: 60%;
}

.image {
    height: 400px;
    width: auto;
    border-radius: 10px;
    padding: 10px;
}

.introduce-content {
    margin: auto;
    width: 40%;
}

.contact-name {
    color: #6868ab;
}

.skill-wrapper {
    height: 100vh;
}

.skill-box {
    background-color: #fff;
}

.button {
    margin: auto;
    background-color: #fff;
    padding: 20px 40px;
    border-radius: 50px;
}

.button:hover {
    background-color: blue;
    color: white;
}